
p{
    font-weight:Bold; 
    font-size: medium;
}

#top{
    text-decoration: underline;
}
.emphasizedtext{
    font-style: italic;
    color: blue
}
a:visited {
    color: rgb(24, 24, 146)
}
body{
    background-color: lightgray; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 5px solid black; 
    padding: 20px;
    margin: 20px;
    text-align: center;
}
ol{
    list-style-position:inside;
}
ul{
    list-style-position:inside;
}

.common{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.header{
    background-color: black;
    color:white;
    height: 100px;
    line-height: 100px
}

.mainbody {
    background-color:rgb(235, 235, 235);

}

.footer{
    height: 25px;
    background-color: black;
    color: white;
    line-height: 25px
}

nav{
   
    padding: 10px;
    overflow: hidden; 

}
nav a{
    float: left;
    color: black;
    padding: 10px 13px;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;

}

nav a:hover {
    background-color: #ccc;
}